.sidebar{
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    background-color:rgb(188, 211, 247);
    padding-top: 60px;
    box-shadow: inset 2px 2px 2px gray;
}

.sidebar ul{
    margin-top:40px;
    padding:0;
}
.sidebar ul li {
  list-style: none;
}
.sidebar ul li a {
  display: block;
  color: #333;
  padding:5px 10px;
  box-sizing: border-box;
  margin: 10px 0  5px 10px;
  border-radius: 5px 0  0 5px;
  -webkit-border-radius: 5px 0  0 5px;
  -moz-border-radius: 5px 0  0 5px;
  -ms-border-radius: 5px 0  0 5px;
  -o-border-radius: 5px 0  0 5px;
  text-decoration: none;
}
.sidebar ul li a.active{

    background-color: #333;
    color: #fff;
}